# App principal
streamlit
pandas
matplotlib
python-3.10

# Web scraping com Selenium
selenium
webdriver-manager
fake-useragent
undetected_chromedriver

# Web scraping com Playwright
playwright

# Logs e manipulação de arquivos
tqdm

